.cover {
  text-align: center;
  color: red;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.error_btn {
  color: red;
  padding: auto;
}

.error_message {
  font-size: 20px;
}

.error_big {
  margin: 0 auto;
  font-size: 200px;
}
